* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
    background-size: cover;
}

/* heading */
h1 {
    text-align: center;
    margin: 80px;
    padding: 20px;
    background-color: #56e6ff;
    border-radius: 20px;
    color: rgb(0, 0, 0);

}

/* container */
.container {
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

/* card  */

.card {
    background: #f9f6f0;
    width: 250px;
    padding: 30px 20px 70px 20px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}

/* photo */
.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px auto;
    border: 3px solid transparent;
    transition: 0.3s ease;
}

.name {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
    display: inline-block;
}

/* role */
.role {
    margin: 8px 0 0 0;
    font-size: 18px;
    color: #555;
}

/* hover effect */
.card:hover {
    scale: 1.05;
}

.card:hover .social-icons {
    visibility: visible;
    pointer-events: auto;
    transition: 0.3s ease;
}

.card:hover .profile-pic {
    border: 5px solid #56e6ff;
}

/* icons */
.social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #56e6ff;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 0;
    border-radius: 0 0 4px 4px;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s ease;
}


.social-icons i {
    color: white;
    text-decoration: none;
    font-size: 30px;
}